<div class="root-container">
    <div class="container">
        <div class="toolbar">
            <div class="row">
                <div class="col">
                    <h1>Social Network</h1>
                </div>
                <div class="col">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Find..." [formControl]="searchfc">
                    </mat-form-field>
                </div>
                <div class="col">
                    <button mat-button class="upload-button">
                        <i class="fas fa-upload"></i>
                        Upload
                    </button>
                </div>
                <div class="col">
                    <div class="profile-icon">
                        <i class="fas fa-user"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="navigation-bar">

        </div>
        <router-outlet></router-outlet>
    </div>
</div>