<div class="container">
    <div class="row">
        <div class="col-md-7">
            <h3>Video</h3>
            <div class="container-box-left">
                <div class="left">
                    <div class="box-100 big">
                        <div class="box">
                            Box Video
                        </div>

                    </div>
                    <div class="box-50 small">
                        <div class="box">
                            Box bawah video
                        </div>
                    </div>
                    <div class="box-50 small">
                        <div class="box">
                            Box
                        </div>

                    </div>
                </div>
                <div class="right">
                    <div class="box-100 small">
                        <div class="box">
                            Box
                        </div>

                    </div>
                    <div class="box-100 small">
                        <div class="box">
                            Box
                        </div>
                    </div>
                    <div class="box-100 small button">
                        <div class="box">
                            Box
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-5">
            <h3>Activity</h3>
            <div class="activity">
                <div class="content">
                    <div class="image">
                        <div class="box">
                            image
                        </div>

                    </div>

                    <div class="text">
                        <h5>Test</h5>
                        <h5>Test</h5>
                        <h5>Test</h5>
                    </div>
                </div>

                <div class="content">
                    <div class="image">
                        <div class="box">
                            image
                        </div>

                    </div>

                    <div class="text">
                        <h5>Test</h5>
                        <h5>Test</h5>
                        <h5>Test</h5>
                    </div>
                </div>

                <div class="content">
                    <div class="image">
                        <div class="box">
                            image
                        </div>

                    </div>

                    <div class="text">
                        <h5>Test</h5>
                        <h5>Test</h5>
                        <h5>Test</h5>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
            <h3>People</h3>
            <div class="container-box-left">
                <div class="left">
                    <div class="box-100 big">
                        <div class="box">
                            Box Video
                        </div>

                    </div>
                    <div class="box-50 small">
                        <div class="box">
                            Box bawah video
                        </div>
                    </div>
                    <div class="box-50 small">
                        <div class="box">
                            Box
                        </div>

                    </div>
                </div>
                <div class="right">
                    <div class="box-100 small">
                        <div class="box">
                            Box
                        </div>

                    </div>
                    <div class="box-100 small">
                        <div class="box">
                            Box
                        </div>
                    </div>
                    <div class="box-100 small button">
                        <div class="box">
                            Box
                        </div>
                    </div>
                </div>

            </div>

            <h3>Documents</h3>
            <div class="container-box-left">
                <div class="left">
                    <div class="box-100 big">
                        <div class="box">
                            Box Video
                        </div>

                    </div>
                    <div class="box-50 small">
                        <div class="box">
                            Box bawah video
                        </div>
                    </div>
                    <div class="box-50 small">
                        <div class="box">
                            Box
                        </div>

                    </div>
                </div>
                <div class="right">
                    <div class="box-100 small">
                        <div class="box">
                            Box
                        </div>

                    </div>
                    <div class="box-100 small">
                        <div class="box">
                            Box
                        </div>
                    </div>
                    <div class="box-100 small button">
                        <div class="box">
                            Box
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-5">
            <h3>Channels</h3>
            <div class="channels">
                <div class="right">
                    <div class="box-50 small">
                        <div class="box">
                            Box
                        </div>

                    </div>
                    <div class="box-50 small">
                        <div class="box">
                            Box
                        </div>
                    </div>
                    <div class="box-50 small">
                        <div class="box">
                            Box
                        </div>
                    </div>
                    <div class="box-50 small">
                        <div class="box">
                            Box
                        </div>
                    </div>
                    <div class="box-50 small">
                        <div class="box">
                            Box
                        </div>

                    </div>
                    <div class="box-50 small">
                        <div class="box">
                            Box
                        </div>
                    </div>
                    <div class="box-50 small">
                        <div class="box">
                            Box
                        </div>
                    </div>
                    <div class="box-50 small">
                        <div class="box">
                            Box
                        </div>
                    </div>
                    <div class="box-50 small">
                        <div class="box">
                            Box
                        </div>

                    </div>
                    <div class="box-50 small">
                        <div class="box">
                            Box
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>